body {
	padding-top: 80px;
}

.title {
	font-size: 60px;
	font-weight: bold;
	text-align: center;
	color: #222;
	font-family: 'Dancing Script', cursive;
}

.custom-navbar {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
	background: linear-gradient(135deg, #0c0246, #3b3658);
}

.brand-font {
	font-size: 2rem;
	font-family: 'Dancing Script', cursive;
	color: #ab0a43 !important;
}

.nav-item {
	padding: 8px 14px;
	border-radius: 20px;
	transition: all 0.3s ease;
}

.nav-item a {
	color: #f5f5f5 !important;
	text-decoration: none;
}

.nav-item:hover {
	background-color: rgb(210, 170, 185, 0.25);
	color: #ab0a43 !important;
}

.nav-item a.active {
	color: #ab0a43 !important;
	font-weight: 600;
}


.leaderboard-header {
	background-color: #ab0a43 !important;
	color: white !important;
}

.caffeine-card {
	position: absolute;
	height: 100vh;
	width: 30%;
	margin-left: auto;
	margin-right: 0;
	padding: 40px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
	display: flex;
	flex-direction: column;
	/* Stacks content and actions vertically */
	justify-content: space-between;
	/* Pushes actions to the bottom */
}

.card-actions {
	margin-top: auto;
	/* Pushes the actions div to the bottom */
	text-align: center;
	/* Centers the button horizontally */
}

.card-content {
	text-align: center;
	font-size: 30px;
}