{% extends "base.html" %}

{% block title %}Accounts{% endblock %}

{% block content %}
<div style="text-align: center; margin-top: 50px;">
    <h1 class="title">Accounts</h1>
</div>

<div class="justify-content-center">
    {% if 'user_id' in session %}
    <!-- user logged in already will show the log out/change passwod button-->
    <p>Welcome, {{ session['username'] }}!</p>
    <a href="{{ url_for('logout') }}" class="btn btn-danger">Logout</a>
    <a href="{{ url_for('password') }}" class="btn btn-danger">Change Password</a>
    {% else %}
    <!-- will request users to login/register -->
    <a href="{{ url_for('register') }}" class="tab">Register New User</a>
    <a href="{{ url_for('login') }}" class="tab">Login</a>
    {% endif %}
</div>
{% endblock %}