{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div style="text-align: center; margin-top: 50px;">
	<h1 class="title">CaffieND!</h1>
</div>

<div class="row justify-content-center">
    {% for drink in drinks %}
    <div class="col-12 col-sm-6 col-md-3 mb-4">
	<div class="card shadow-sm border-0 h-100">
	    <div class="card-body">
		<h5 class="card-title">{{ drink.name }}<//p>
		<p class="card-text mb-1"><strong>Volume:</strong> {{ drink.volume }}</p>
		<p class="card-text mb-1"><strong>Calories:</strong> {{ drink.calories }}</p>
		<p class="card-text mb-1"><strong>Amount:</strong> {{ drink.caffeine_amt }}</p>
		<p class="card-text mb-1"><strong>Type:</strong> {{ drink.caffeine_type }}</p>
  	    </div>
	</div>
    </div>
    {% endfor %}
</div>
{% endblock %}
