{% extends "base.html" %}

{% block title %}Change Password{% endblock %}

{% block content %}

<div class="card p-4 mx-auto" style="text-align: center; margin-top: 50px; max-width: 500px;">
    <h1 class="title">Change Password</h1>

    <div class="form-container">
        <form method="POST">
            <div class="p-4">
                <label>Current Password:</label><br>
                <input type="password" name="current_password" required /><br>
            </div>

            <label>New Password:</label><br>
            <input type="password" name="new_password" required /><br>

            <div class="p-4">
                <label>Confirm Password:</label><br>
                <input type="password" name="confirm_password" required /><br>
            </div>

            <button class="btn btn-primary" type="submit">Update Password</button>
            <a href="{{ url_for('accounts') }}" class="btn btn-secondary">Cancel</a>
        </form>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for msg in messages %}
            <li>{{msg}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>
</div>


{% endblock %}