{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<div style="text-align: center; margin-top: 50px;">
	<h1 class="title">Create an Account</h1>
</div>

<div class="justify-content-center">
    <form method="POST" action="/register">
        <label>Username:</label><br>
        <input type="text" name="username" required><br>

        <label>Email:</label><br>
        <input type="email" name="email" required><br>

        <label>Password:</label><br>
        <input type="password" name="password" required><br>

        <button type="submit" class="btn btn-primary">Register</button>
    </form>
<div class="mt-3">
    <a href="{{ url_for('login')}}">Already have an account? Log in</a>
</div>

{% endblock %}