{% extends "base.html" %}

{% block title %}View Profile{% endblock %}

{% block content %}
<div style="text-align: center; margin-top: 50px;">
    <h1 class="title">Accounts</h1>
</div>

<div class="justify-content-center">
    {% if 'user_id' in session %}
    <table>
        <tr>
            <th>Age</th>
            <td>{{ age }}</td>
        </tr>
        <tr>
            <th>Gender</th>
            <td>{{ gender }}</td>
        </tr>
        <tr>
            <th>Weight</th>
            <td>{{ weight }}</td>
        </tr>
    </table>
    <a href="{{ url_for('update_profile') }}" class="btn btn-danger">Update Profile</a>
    {% else %}
    <p>You must be logged in to view profile.</p>
    <a href="{{ url_for('login')}}" class="btn btn-danger">Login</a>
    {% endif %}

</div>

{% endblock %}